---
layout: compress
---

{% include origin-type.html %}
{% include lang.html %}

{% if site.theme_mode %}
  {% capture prefer_mode %}data-mode="{{ site.theme_mode }}"{% endcapture %}
{% endif %}

{% include head.html lang=lang %}
{% include sidebar.html lang=lang %}

{% include topbar.html lang=lang %}

{% if layout.layout == 'default' %}
  {% include refactor-content.html content=content lang=lang %}
{% else %}
  {{ content }}
{% endif %}

{% include_cached update-list.html lang=lang %}
{% include_cached trending-tags.html lang=lang %}

{% for _include in layout.panel_includes %}
  {% assign _include_path = _include | append: '.html' %}
  {% include {{ _include_path }} lang=lang %}
{% endfor %}

{% for _include in layout.tail_includes %}
  {% assign _include_path = _include | append: '.html' %}
  {% include {{ _include_path }} lang=lang %}
{% endfor %}

{% include_cached footer.html lang=lang %}
{% include_cached search-results.html lang=lang %}

{% if site.pwa.enabled %}
  {% include_cached notification.html lang=lang %}
{% endif %}

{% for _include in layout.script_includes %}
  {% assign _include_path = _include | append: '.html' %}
  {% include {{ _include_path }} %}
{% endfor %}

{% include track-script.html %}
{% include_cached search-loader.html lang=lang %}
